doctype html
html(lang="en",ng-app="baidu")
    head
        title= ""
        meta(name="viewport",content="width=device-width,user-scalable=no,user-scalable=0,inital-scale=1.0")
        meta(http-equiv="Content-Type",content="text/html",charset="utf-8")
        meta(name="format-detection",content="telephone=no")
        link(href="/static/css/portal.css",rel="stylesheet",type="text/css")
        script(src="/static/js/portal.min.js")
    body
        section#banner=""
        {% for i in  list %}
        a(href="{{ i.URL }}")
            div.product
                div.banner(style="background-image:url({{ i.file }})")
                div.title {{ i.title }}
        {% endfor %}
